body {
    font-family: 'Quicksand', sans-serif !important;
    font-weight: 600;
    background: white;
    
}

h1, h2 {
    font-size: 3rem;
    font-family: 'Nunito', sans-serif !important;
    font-weight: 700;
}

.justify {
    text-align: justify;
}

.fig-50 {
    width: 50%;
}

.fig-75 {
    width: 75%;
}

@media (max-width: 767.98px) {
    .fig-50 {
        width: 80%;
    }
    .fig-75 {
        width: 80%;
    }
}