body {
    font-family: 'Quicksand', sans-serif !important;
    font-weight: 600;
    background: white;
    
}

h1, h2 {
    font-size: 3rem;
    font-family: 'Nunito', sans-serif !important;
    font-weight: 700;
}

a {
    text-decoration: none;
    color: coral;
}

a:hover {
    text-decoration: none;
    color: tomato;
}

.cite {
    vertical-align: baseline;
    position: relative;
    top: -0.4em;
    font-size: .85rem;
}

.justify {
    text-align: justify;
}

.fig-50 {
    width: 50%;
}

.fig-75 {
    width: 75%;
}

.chart1 {
    height: 300px;
    padding-bottom: 2rem;
}

.chart2 {
    height: 320px;
    padding-bottom: 2rem;
}

.chart3 {
    height: 400px;
    padding-bottom: 2rem;
}

.angry {
    color: crimson;
}

.sad {
    color: tomato;
}

.likes {
    color: royalblue;
}

.wow {
    color: orange;
}

.haha {
    color: mediumorchid;
}

.care {
    color: palevioletred;
}

.love {
    color: purple;
}
@media (max-width: 767.98px) {
    .fig-50 {
        width: 90%;
    }
    .fig-75 {
        width: 90%;
    }

    .chart1 {
        height: 250px;
    }
    .chart2 {
        height: 280px;
    }
    .chart3 {
        height: 300px;
    }
}