body {
    font-family: 'Quicksand', sans-serif !important;
    font-weight: 600;
    background: white;
}

h1, h2 {
    font-size: 3rem;
    font-family: 'Nunito', sans-serif !important;
    font-weight: 700;
}

.wrapper {
    transition: background .2s ease;
}

.justify {
    text-align: justify;
}